$primaryColor: #11719c;
$primaryDarkColor: #0a425c;
$primaryLightColor: #8cd2f2;
$accentColor: #ff6600;
$accentDarkColor: #b34700;
$accentLightColor: #b34700;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';